# Output related
*.html

# IDE related
.idea
.vscode
FHA.iml

# Build related
build/
dist/
target/
*.egg-info/*
*.pyc

# Test related
*.xml

# Python related
Pipfile.lock

# versatile
docker-compose*.yml.bak
